<section id="dashboard-view" class="mainbar" ng-hide="vm.loginHide">
  <section class="matter">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="widget wblue">
            <div ht-widget-header title="Login" allow-collapse="true"></div>
            <div class="widget-content text-center text-info">
              <form>
                <label>Email: </label>
                <input type="email" ng-model="vm.email" /><br>
                <label>Password: </label>
                <input type="password" ng-model="vm.password" /><br>
                <button ng-click="vm.handleLogin()">
                  Submit
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

<section id="dashboard-view" class="mainbar" ng-hide="vm.dashboardHide">
  <section class="matter">

    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="widget wviolet">
            <div ht-widget-header title="People" allow-collapse="true"></div>
            <div class="widget-content text-center text-info">
              <table class="table table-condensed table-striped">
                <thead>
                  <tr class="table-row">
                    <th>People</th>
                    <th>Date Created</th>
                    <th>Profile</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="person in vm.people">
                    <td ng-click="vm.showEditMenu(person)">
                      {{person.person}}
                    </td>
                    <td ng-click="vm.showEditMenu(person)">{{person.date}}</td>
                    <td><a href="{{person.cv}}">Download</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="widget wblue">
            <div ht-widget-header title="Add Person" allow-collapse="true"></div>
            <div class="widget-content text-center text-info">
              <form>
                <label>Name: </label>
                <input type="text" ng-model="vm.person" /><br>
                <label>CV: </label>
                <input type="file" fileread="vm.file" accept="application/pdf" /><br>
                <button ng-click="vm.submitPerson()">
                  Submit
                </button>
              </form>
            </div>
          </div>
        </div>

        <div class="col-md-4" ng-hide="vm.hideMenu">
          <div class="widget wblue">
            <div ht-widget-header title="Edit Person" allow-collapse="true"></div>
            <div class="widget-content text-center text-info">
              <form ng-submit="vm.submitEdits()">
                <label>Name: </label>
                <input type="text" ng-model="vm.edits" placeholder="{{vm.editPerson.person}}" />
                <button ng-click="vm.submitEdits()">
                  Submit
                </button>
              </form>
              <button ng-click="vm.closeMenu()">Close</button>
              <button ng-click="vm.deletePerson(vm.editPerson.id)">
                Delete Person
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</section>